<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mecanico</title>
  <style>
      body {
        background-image: url("https://wallpaperplay.com/walls/full/4/0/4/33404.jpg");
      } 
      
      </style>
</head>
  <body>
    <div>
     <nav>
        
          <div >
              <a href="/clientes">Clientes</a>
          </div>
          <div>
              <a href="/mecanico_responsable">Mecanicos</a>
          </div>
          <div>
              <a href="/repuestos">Refacciones</a>
          </div>
          <div>
              <a href="/factura">Transacciones</a>
          </div>
        </div>
     
      </nav>

      <div>

        
        <div align="center">
          <h1>Mecanicos</h1>
          <div>
              <div>
                <div>
                  
                  <div>
                    <a href="/mecanico_responsable/crear">Agregar Mecanico</a>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  
                  <div>
                    
                    <a href="/mecanico_vehiculo">Asignar vehiculo</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div>
                <h3>Mecanicos</h3>
                <br>
              </div>
                <table border="1">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Direccion</th>
                      <th>Telefono</th>
                      <th>Sueldo por hora</th>
                      <th>Categoria</th>
                    </tr>
                  </thead>
                  <tbody>
                    @each(mecanico in mecanicos)
                      <tr>
                        <td>{{mecanico.id}}</td>
                        <td>{{mecanico.nombre}}</td>
                        <td>{{mecanico.direccion}}</td>
                        <td>{{mecanico.tel}}</td>
                        <td>{{mecanico.costoxhora}}</td>
                        <td>{{mecanico.categoria}}</td>
                        <td></td>
                         <td></td>
                        <td>
                          <li>
                            <a href="/mecanico_responsable/editar/{{mecanico.id}}">Editar</a>
                          </li>
                        </td>
                        <td>
                          <li>
                            <a href="/mecanico_responsable/eliminar/{{mecanico.id}}">Eliminar</a>
                          </li>
                        </td>
                        </td>
                      </tr>
                    @endeach
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
